:root {
  --white: #fff;
  --font-path: "/fuentes/";
  --titulo-font: "Mona-Sans-Black.otf", sans-serif;
  --blue: rgba(0, 135, 255, 1);
  --blueHover: rgba(0, 80, 255, 1);
  --secondary-blue: #395493;
  --gray: #626161;
  --whitev2: #c4d0ec;
  --celeste: #169fe3;
  --black: #1d1d1d;
  --bg-color: #f5f5f5;
  --blueDark: #101840;
  --grayv2: #f2f2f2;
  --border-color: #80808033;
  --gray-logo: #69708d;
  --border-radius: 10px;
  --hover-color: #2da7ff;
  --transition: 0.5s ease-out;
}

/* PARA TITULOS*/
@font-face {
  font-family: "Mona-Sans-Black";
  src: url("../fuentes/Mona-Sans-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mona-Sans-SemiBold";
  src: url("../fuentes/Mona-Sans-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mona-Sans-Regular";
  src: url("../fuentes/Mona-Sans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* ESTILOS FUENTE GLOBLALES */

button {
  border: none !important;
}
.navbar-global,
.container-about .max-w.d-flex {
  max-width: 1250px;
  margin: 0 auto;
}

.navbar-title,
.navbar-subtitle,
.bread-general.breadcrumb,
.redirect-register,
.container-donacion .mount-donate,
.donacion-total,
.categorias-donar li a {
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
  line-height: 1 !important;
}

.bread-general.breadcrumb {
  font-size: 1.3rem !important;
}

.no-resize {
  resize: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Mona-Sans-Regular", sans-serif !important;
  padding-top: 5.4rem !important;
}

.nav .nav-link,
.titulo-redes {
  font-family: "Mona-Sans-SemiBold", sans-serif !important;
  color: var(--whitev2) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 3.5rem !important;
  line-height: 1 !important;
}

p {
  font-family: "Work Sans", sans-serif;
}
label {
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 1.4rem !important;
}

::-webkit-input-placeholder {
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 1.2rem !important;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  content: "";
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 4px 2px 4px;
  background: transparent;
}

a.asc:after {
  border-bottom: solid 7px #212529;
  border-top-width: 0;
}

a.desc:after {
  border-top: solid 7px #212529;
  border-bottom-width: 0;
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 0;
  }
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.form-group {
  margin-bottom: 1rem;
}

/* ESTILOS PROPIOS */
a {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
}

.container-h {
  background-color: red;
}

/* LOGO */

.logo-container {
  z-index: 1;
  display: flex;
}

.logo-container .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  font-family: "Mona-Sans-SemiBold", sans-serif !important;
  margin-left: 10px;
}

.navbar-brand .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.navbar-title {
  color: var(--blue);
  text-transform: uppercase;
  font-size: 2rem;
}

.navbar-subtitle {
  color: var(--celeste);
  font-size: 1.5rem;
}

/*HEADER */

header {
  z-index: 9999 !important;
  box-shadow: 0px 15px 10px -15px #111;
  height: 5.4rem;
  /*height: 12vh;*/
  position: fixed;
  width: 100%;
  background: var(--white);
  top: 0;
}

/* FOTO PERFIL */
.img-perfil-header {
  border-radius: 50% !important;
  margin-right: 0.5rem;
}

.container-perfil-img {
  display: flex !important;
  align-items: center !important;
  text-transform: capitalize;
}

.container-perfil-img::after {
  position: relative !important;
  top: 3px !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.container-login-registro .navbar-nav.nav .btn-registrar .nav-link {
}

.container-login-registro .navbar-nav.nav .btn-registrar .nav-link:hover {
  color: var(--white) !important;
}

.bg-light {
  background-color: unset !important;
}

.navbar .container {
  max-width: unset !important;
  padding: 0;
}

.navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 58px !important;
  gap: 10px;
}

.navbar-nav .nav-item .nav-link {
  color: #83878b !important;
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-size: 1.5rem;
  transition: var(--transition);
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--blue) !important;
}

.navbar-nav .nav-item .nav-link.active {
  color: var(--blue) !important;
}

.navbar-brand .logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-container .container {
  padding: 0;
}

.logo-container .logo {
  background-color: unset !important;
  width: 80px;
}

.navbar-collapse {
  flex-grow: 0 !important;
  flex-basis: 100% !important;
  position: relative;
  justify-content: center;
  height: 75px;
}

.container-login-registro .navbar-nav {
  gap: 10px;
  display: flex;
  align-items: center;
}

.collapse.navbar-collapse {
  justify-content: space-between;
}

.social-container {
  z-index: 0;
  /* Ajusta según sea necesario */
}

.fixed-top {
  z-index: 0 !important;
}

.social-line {
  margin: 0 25px;
  width: 100%;
  min-width: 35px;
  color: var(--whitev2) !important;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-group {
  display: flex;
  gap: 25px;
}

.fab {
  font-size: 16px;
}

.titulo-redes {
  color: var(--gray);
}

.nav-link.social-icon {
  transition: color 0.5s ease;
  color: var(--whitev2);
}

.nav-link.social-icon:hover {
  color: var(--blue);
}

.nav-link.active {
  color: var(--blue) !important;
}

.video-container {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.videoBG {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 135, 255, 0.7);
  mix-blend-mode: multiply;
  z-index: 1;
}

main > .container {
  max-width: unset;
  padding: 0;
}
/* ALTURA  MAIN */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 100%;
}

.videoBG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar.scrolled {
  background-color: #1c1c1c !important;
}

.summary {
  display: none;
}

/* ESTILOS PROPIOS */

/* ESTILOS GLOBALES */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);
}

ul {
  list-style: none;
}

nav[aria-label="breadcrumb"] {
  width: 100%;
  position: absolute;
  top: 0;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input[type="search"] {
  width: 100%;
  padding-right: 30px;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: var(--gray);
  pointer-events: none;
}

img {
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem !important;
}

.btn-clean:hover {
  background-color: var(--blueHover) !important;
}

.img-banner {
  border-radius: unset !important;
}

.desc {
  color: var(--black) !important;
}

.btn {
  text-transform: uppercase;
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
  line-height: 1 !important;
  letter-spacing: 0.1rem !important;
}

.row {
  margin: 0 !important;
  width: 100%;
}

.row.sec-2,
.row.sec-3 {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1250px;
}

.row.sec-3 .sec-3_img {
  border-radius: unset !important;
}

.row.sec-2 {
  justify-content: center;
}

.container {
  max-width: 1250px !important;
}

.main .container-principal {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  min-height: 88vh;
}

/* HOME PAGE */

.btn-registrar {
  color: var(--white) !important;
  background-color: var(--blue);
  border-radius: 5px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.btn-registrar,
.btn-login {
  text-transform: uppercase;
  letter-spacing: 0.1rem !important;
}

.btn-registrar a,
.btn-login a {
  font-size: 1.1rem !important;
}

.navbar-nav .btn-registrar .nav-link,
.navbar-nav .btn-registrar .nav-link.active {
  color: var(--white) !important;
}

.btn-registrar {
  padding: 0 10px;
}

.layout {
  z-index: 1;
  padding: 20px;
}

.layout .text .btn {
  min-width: 11rem;
}

.layout .desc {
  color: var(--white) !important;
}

.desc {
  color: var(--white);
  max-width: 500px;
}

.btn-clean {
  background-color: var(--blue) !important;
  color: var(--white) !important;
  padding: 1rem 2.5rem !important;
  transition: var(--transition) !important;
}

/* SECCIÓN REGISTRO - CREAR USUARIO */

.breadcrumb {
  margin-bottom: 0 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.container-principal.crear-usuario {
  height: 88vh;
  align-content: center;
}

.container-create-user .title {
  margin-bottom: 2rem;
}

.container-create-user .form-register {
  position: absolute;
  background: white !important;
  z-index: 1;
  padding: 2rem 5rem;
  min-width: 36rem;
  border-radius: var(--border-radius);
}

.container-create-user .s-2 {
  background-color: black;
}

.container-create-user .s-2 .img-register {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-principal {
  background-color: var(--blue) !important;
  color: white !important;
  width: 100%;
}

.container-create-user .s-1 .form .form-group {
  margin-bottom: 0;
  width: 100%;
}

.container-create-user .s-1 .form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-create-user .s-1 .form .input-group {
  align-items: center;
}
.container-create-user .s-1 .form .icon-input {
  position: absolute;
  z-index: 1;
  padding: 1.5rem;
  right: 0;
}

.container-create-user .s-1 input {
  border-radius: var(--border-radius) !important;
  height: 45px;
}

.info {
  color: var(--gray);
  max-width: 510px;
  font-size: 15px;
}

.control-label {
  font-weight: bolder;
}

.help-block {
  color: #ff7a7a;
}

/*HOME PAGE */

.main .container {
  display: flex;
  /*justify-content: center;*/
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  z-index: 2;
  max-width: unset !important;
}

.home.sec-1 .layout {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.home.sec-1 .layout .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home.sec-1 .layout .title {
  font-size: 3.5rem !important;
  color: var(--blue);
}

.home-page .layout .text .btn-clean {
  transition: 0.5s ease-out;
}

.home-page .layout .text .btn-clean:hover {
  background-color: var(--celeste) !important;
}

.home.sec-1 {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.redes {
  z-index: 1;
  position: absolute;
  right: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 3;
}

.redes ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-left: 0;
}

.redes ul .link-item a {
  color: var(--whitev2);
  transition: var(--transition);
}

.redes ul .link-item a .fab {
  font-size: 20px;
  transition: 0.5s ease-out;
}

.redes ul .link-item a .fab:hover,
.redes ul .link-item .github-icon:hover {
  color: var(--blue) !important;
}

.redes .line {
  background-color: var(--whitev2);
  height: 100px;
  width: 1px;
}

/* HOME PAGE - SECCIÓN 2 */

.sec-2 .left {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.sec-2 .left .desc {
  max-width: 435px;
}

.arrow-icon {
  width: 3rem;
  fill: var(--blue);
}

.sec-2 .left .icon-sec {
  max-width: 10rem;
  margin-bottom: 1rem;
}

.sec-2 {
  width: 95%;
  height: auto !important;
}

.sec-2 .right {
  height: 100%;
}

.sec-2 .right img {
  height: 100%;
  object-fit: cover;
}

/* HOME PAGE - SECCIÓN 3 */
.row.sec-3 {
  width: 100% !important;
  padding-top: 0;
  padding-bottom: 0;
}

.row.sec-3 .container-info {
  background-color: var(--blue);
  padding: 30px;
}

.icon-colaborar {
  fill: var(--white);
  max-width: 8rem;
  margin-bottom: 1rem;
}

.row.sec-3 .title,
.row.sec-3 .desc {
  margin-bottom: 1rem;
}

/* IMAGEN SEC 3*/
.row.sec-3 .image-container .sec-3_img {
  height: 100%;
  object-fit: cover;
}

/*SEC-3 INFO RIGHT */
.row.sec-3 .container-info .btn-clean {
  border: 1px solid var(--white);
}

/* PRE SUBTITULE */
.pre-title .title {
  color: gray;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.4rem;
  font-size: 1rem;

  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
  line-height: 1 !important;
}

.pre-title .line {
  width: auto !important;
  margin-bottom: 0 !important;
}

.row.sec-2 .left .btn-clean {
  width: max-content;
}

/* HOME PAGE - SECCIÓN 4 - COMPAÑIAS COLABORADORAS */
.row.sec-4 .company {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}

.row.sec-4 .company .logo-container {
  width: 200px;
  height: 150px;
  padding: 16px;
}

.row.sec-4 .company .logo-container .logo {
  width: unset;
  width: 100% !important;
  object-fit: contain;
}

/* SLIDER */
.logos {
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 60px;
  position: relative;
  gap: 30px !important;
  max-width: 1250px !important;
}

.logos:before,
.logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
  content: "";
}

.colaboradores-slider {
  padding-top: 4rem;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block !important;
  gap: 30px;
  animation: 30s slide infinite linear;
}

.logos-slide img {
  width: 120px;
  object-fit: contain;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.slider-container {
  max-width: 1250px !important; /* Establece el ancho máximo */
  margin: 0 auto !important; /* Centra el contenedor en la pantalla */
  overflow: hidden !important; /* Oculta el contenido que se desborde */
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* FOOTER FIX */
.footer {
  z-index: 10;
  background: var(--black);
}

.footer .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .row .navbar-brand {
  width: 120px;
  height: auto !important;
  padding: 0;
  display: inline-block !important;
}

.footer .title {
  color: var(--white) !important;
  letter-spacing: 0.1rem;
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 1.4rem !important;
}

.footer .footer-social .list-social {
  display: flex;
  gap: 1.5rem;
  padding-left: 0;
}

.footer .footer-social .list-social a {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  box-shadow: 0 0 0.1rem var(--blue), 0 0 0.1rem var(--blue),
    0 0 0.5rem var(--blue), inset 0 0 0.1rem var(--blue);
  transition: 0.5s ease-in-out;
}

.footer .footer-social .list-social a:hover {
  background-color: #000000;
}

.row.line-copyright {
  border-top: 1px solid #4d4d4d;
}

.footer .row.text-copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer .text-copyright {
  font-size: 0.9rem !important;
  color: var(--whitev2) !important;
}

.footer .row.text-copyright .terms {
  display: flex !important;
  justify-content: flex-end !important;
  gap: 20px !important;
}

.footer .row.text-copyright .terms,
.footer .text-copyright,
.footer .title,
.footer .links-contact {
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.footer .links-contact {
  gap: 0.4rem;
}

.footer .links-contact a {
  font-size: 1.2rem !important;
  letter-spacing: normal !important;
}

/* STYLES LOGOUT */
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  transition: 0.5s ease-in-out;
  color: var(--gray);
  font-weight: 600;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
  color: var(--blue);
}

/* ESTILOS LOGIN */

.row-bg {
  background: rgba(0, 0, 0, 0.5) url(../img/ocean.webp);
}

.row-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-bg .max-w {
  z-index: 2;
}

.row-bg .max-w {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
}

.site-login {
  width: 100%;
  height: 88vh;
}

.site-login .container {
  padding: 0;
}

.reset-password {
  height: 100%;
  margin: auto;
}

.reset-password h1 {
  line-height: 1;
}

.reset-password .form-group button {
  padding: 1rem !important;
}

.custom-control custom-checkbox {
  line-height: 0 !important;
}

.site-login #login-form .form-group {
  display: flex;
  flex-direction: column;
}

.site-login #login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo-login {
  width: 5rem !important;
  height: auto !important;
}

.navbar-login {
  margin-bottom: 3rem !important;
}

.invalid-feedback {
  padding: 0 !important;
}

.custom-control-input.is-valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label {
  color: var(--gray) !important;
}
.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before {
  color: var(--gray);
}

.login-s1 {
  background: #0087ff24;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-login .login-s1,
.login-s2 {
  padding: 4rem !important;
}

.img-login {
  border-radius: 20px;
}
.info-login {
  color: var(--gray);
  font-size: 0.9rem;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: var(--blue) !important;
}

.redirect-register {
  color: var(--gray);
  font-size: 1.4rem;
}

.login-register {
  color: var(--blue);
  text-decoration: underline;
}

.login-s1 .info-left {
  max-width: 80%;
}

.remember {
  display: flex;
}

.v-reset {
  padding: 4rem;
}

.v-reset .sec-res {
  max-width: 430px;
}

.res-send {
  border: unset !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.res-send div {
  margin-bottom: 0 !important;
}

.close {
  opacity: unset !important;
}

.close:hover {
  color: white ip !important;
}

.confirmar-password-reset-password .recover-password {
  padding: 3rem;
}

.confirmar-password-reset-password .recover-password input {
  border-radius: 1rem;
}

.confirmar-password-reset-password .recover-password div {
  max-width: 430px !important;
}

.regex .list {
  list-style-type: circle;
  padding-left: 20px;
}

.regex {
  padding: 1rem 0;
}

/* QUIENES SOMOS */

.container-about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
  align-items: stretch !important;
  align-content: stretch !important;
}
.container-about h1 {
  color: #101840 !important;
}

.container-about .cambio {
  color: var(--celeste);
}

.container-about .row.s-1 {
  padding: 8rem 0;
  background-color: var(--bg-color);
  gap: 4rem;
}

.s-1-img {
  max-width: 150px;
}

.container-about .s-2-img {
  position: absolute;
  top: -3rem;
  max-width: 130px !important;
}

.container-about .col-2.sect-3 {
  position: relative;
}

.container-about .row-2 .title,
.container-about .row-4 .title {
  font-size: 1.6rem !important;
}

.container-about .row-2 .subtitle,
.container-about .row-4 .subtitle {
  color: var(--blueDark);
  max-width: 32rem;
}

.list-row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  height: max-content;
  color: var(--blueDark);
  background-color: var(--grayv2);
  margin-right: 0;
  margin-left: 0;

  padding: 10px;
}

.contenedor-item {
  width: calc(33.33% - 10px);
  margin: 5px;
}

.list-row .item:nth-child(1) {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.list-row .contenedor-item:nth-child(3) .item {
  border-radius: unset !important;
}

.item.seleccionado {
  background: var(--blue);
  color: var(--white);
}

.texto-info {
  display: none;
}

.texto-info.mostrar {
  display: block;
  padding: 1rem;
}

.list-items .item:nth-child(3) {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.list-items .item {
  font-family: "Caveat", cursive !important;
  font-size: 1.3rem;
}

.container-about .row-2 {
  padding: 6rem 0rem;
}

.cotainer-logos {
  gap: 2rem;
}

.col-md-4.c-logos {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 1rem;
  justify-content: center;
  max-width: 300px;
  border: 1px solid var(--border-color);
  min-height: 150px;
  height: 150px;
  max-height: 100px;
}

img.logo-w {
  width: 60%;
  object-fit: scale-down !important;
}

.cont-ab {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cont-ab .row.one,
.row.two {
  gap: 2rem;
  justify-content: center;
}

.container-about .row-4 .subtitle {
  max-width: unset;
}

.container-about .row-4 {
  background-color: var(--bg-color);
}

.row.row-4 {
  margin-top: 6rem !important;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.row-4 .col-6.sec-2 {
  max-width: 590px;
  max-height: 590px;
}

.row-4 .col-6.sec-2 .img {
  object-fit: cover !important;
}

/* Oculta inicialmente los bloques de texto */
.texto-desplegable {
  display: none;
  text-align: left;
  padding: 0.5rem;
}

.link-dropdown {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  background-color: var(--white);
  border: 1px solid #6c757d2e;
  padding: 1.4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.link-dropdown:hover {
  color: #555;
}

.link-dropdown:active {
  font-weight: bold;
}

.c-enlaces .enlaces .item {
  position: relative;
  display: flow-root;
  background-color: unset;
}
.c-enlaces .icon-container {
  width: max-content;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 1rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

a.link-dropdown:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--blue);
}

.container-about .row.row-2 {
  max-width: 1250px;
  justify-content: center !important;
  margin: 0 auto !important;
}

.container-about .row.row-2 .info-text {
  height: 105px;
}

.container-donacion {
  padding: 5rem 0;
}

/* FORMULARIO DONACION */
.form-donacion {
  background-color: var(--bg-color);
  padding: 3rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

a.default-amount,
button.default-amount {
  background-color: var(--white);
  padding: 0.8rem 1.3rem;
  border-radius: var(--border-radius);
  color: var(--black);
  border: 1px solid var(--border-color) !important;
  font-size: 1rem;
  transition: 0.2s ease-in;
}

a.default-amount:hover {
  background-color: var(--blue);
  color: var(--white);
}

input#donaciones-monto {
  max-width: 125px;
  min-width: 125px;
  border-radius: var(--border-radius);
  border: none;
  border: 1px solid var(--border-color);
  padding: 0.8rem 1.3rem;
}

input#donaciones-monto:focus {
  outline: none;
  box-shadow: none;
}

.form-donacion .monto label.control-label {
  display: none;
}

.container-donacion .row {
  max-width: 1250px !important;
  margin: 0 auto !important;
}

.container-donacion .title {
  margin: 2rem 0;
  color: var(--blueDark);
}

.container-donacion .mount-donate {
  font-size: 2.5rem;
}

.container-donacion .mount-donate .eur {
  color: var(--blue);
}

.container-donacion .progress {
  margin: 1rem 0;
  border-radius: var(--border-radius);
  position: relative;
  min-height: 1.2rem;
}

.container-donacion .progress .gray {
  background-color: var(--border-color);
  width: 100%;
}

.container-donacion .progress .progress-eur {
  width: 40%;
  background-color: var(--blue);
  position: absolute;
  width: 40%;
  top: 0;
  bottom: 0;
  border-radius: var(--border-radius);
}

.field-donaciones-monto .help-block {
  display: none;
}

.form-donacion .monto {
  display: flex;
  margin-bottom: 2rem;
}

.form-donacion .e .input-group-text {
  height: 50px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--white);
  border-right: 0;
}

.form-donacion .monto .input-donar {
  height: 50px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-group.field-donaciones-monto {
  margin-bottom: 0 !important;
}

.form-group.field-donaciones-nombre,
.form-group.field-donaciones-apellido,
.form-group.field-donaciones-correo {
  flex-grow: 1;
  position: relative;
}

input#donaciones-nombre,
input#donaciones-apellido,
input#donaciones-correo {
  border-radius: var(--border-radius);
}

.form-donacion .names {
  gap: 2rem;
}

.info-personal {
  color: var(--blueDark);
}

.form-donacion .info-personal {
  padding-top: 0.5rem;
  display: block;
}

.form-donacion .btn-donar {
  padding: 1rem 3rem;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  min-width: 230px;
}

.donacion-total .total {
  background-color: var(--white);
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.donacion-total .input-group-text {
  font-size: 1.3rem;
}
.donacion-total .total .eur {
  color: var(--blue);
  font-size: 1.3rem;
}

.categorias-donar {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.item-b {
  color: var(--gray);
  transition: var(--transition);
}

.item-b:hover {
  color: var(--blue);
}

.categorias-donar li a {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

input[type="search"] {
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

/*
.container-donacion .row-1 h6 {
  font-size: 2rem !important;
}
*/

.title-donacion {
  font-size: 2rem !important;
}

.container-donacion .row-1 .c-2 {
  display: flex;
  flex-direction: column;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--black) !important;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content .close {
  color: var(--white);
  transition: ease-in;
}

.modal-content .close:hover {
  color: var(--blue);
}

/* Estilos para el botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Ajustes adicionales */
.modal-img {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
}

img#modalImage {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.admin-dashboard {
  padding: 2rem 0;
  width: 100%;
  background-color: #1d1d1d;
}

.admin-dashboard .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admin-dashboard .row {
  max-width: 1250px;
  margin: 0 auto !important;
}

.admin-dashboard .menu-lateral {
  background-color: #191919;
  border-radius: var(--border-radius);
}

.admin-dashboard .menu-lateral .title {
  color: var(--blue);
}

/* TITULOS CRUD ADMIN */
.tabla-h1 {
  color: var(--blue);
}

/* BLOG */
.form-group.field-blog-titulo {
  position: relative;
}

.form-blog-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-group.field-blog-categoria {
  position: relative;
}

.banner-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 135, 255, 0.5);
  mix-blend-mode: multiply;
}

.img-banner {
  width: 100%;
  height: auto;
  max-height: 40vh;
  object-fit: cover;
  object-position: center;
}

.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.blog-index {
  max-width: 1250px !important;
}
.blog-index .title {
  position: absolute;
  color: white;
  z-index: 2;
  top: 50%;
  padding: 2rem;
  transform: translateY(-50%);
}

.blog-index .row-blog {
  max-width: 1250px;
  margin: 0 auto !important;
}

.container-card .card {
  background-color: var(--bg-color);
}

.container-card .card-img {
  height: 350px;
}

.container-card .card-c {
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* sombra negra */
}

.container .btn-b {
  text-decoration: underline !important;
  padding-left: 0;
  padding-right: 0;
}

.container .btn-b:hover {
  color: var(--blue);
}

.container-card .btn-category,
.blog-index .btn-category {
  background: var(--blue);
  color: var(--white);
  text-transform: unset;
  padding: 0.5rem;
  text-decoration: none !important;
  transition: background-color 0.3s ease; /* Añade una transición suave */
}

.container-card .btn-category:hover,
.blog-index .btn-category:hover {
  background-color: #2da7ff;
  color: var(--white);
}

.date {
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--secondary-blue);
  margin: 1.52rem 0;
}

.blog-index .row-2 {
  border: none !important;
}

.blog-img {
  position: relative;
  margin-bottom: 2.2rem;
  height: 440px;
}

.btn-category .card-text .category {
  padding: 0.3rem 0.8rem;
}

.blog-index h6 {
  font-size: 2rem !important;
}

.comment .container-c {
  max-width: 500px;
}

.list-comment {
  border-radius: var(--border-radius);
}

.blog-reciente .img-blog {
  width: 90px;
  height: 90px;
}

.blog-reciente .title-recent-blog,
.date-event-event {
  font-size: 1.3rem !important;
  max-width: 200px;
  margin-left: 1.6rem;
  color: var(--gray);
}

.date-event-view {
  font-size: 1rem;
}

.categorias-donar .title-recent-donacion {
  font-size: 1.3rem !important;
}

/* BLOG VIEW */
.blog-view .card-text.date {
  margin: 0;
}

.blog-view .img-view {
  height: 100%;
  max-height: 340px;
  margin-bottom: 0;
}

.title-right {
  margin-top: 6.2rem;
}

.blog-view .categoria-view {
  margin-bottom: 2.2rem;
}

.blog-view .b-3 {
  margin-top: 2.5rem;
}

/* UPDATE VIEW PERFIL */
.update-perfil .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actualizarperfil-ubicacion {
  border-radius: 10px;
  height: 45px;
}

.input-group-name {
  position: relative;
  display: flex;
  align-items: center;
}

.help-block {
  position: absolute;
  bottom: -20px; /* Posiciona el mensaje de error debajo del campo de entrada */
  left: 10px;
  font-size: 0.9rem;
  color: red;
}

/* EDITAR PERFIL */

.container.container-update-perfil {
  max-width: 1250px !important;
}
.container-update-perfil .title {
  font-size: 2.2rem !important;
  padding-top: 1.2rem;
  color: var(--white);
}

.img-update-perfil {
  border-radius: 50% !important;
  border: unset;
  border: 2px solid var(--blue);
}

.detail {
  color: var(--gray);
}

.field-profile-picture-input {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  gap: 0.5rem;
}

.data-detail {
  border-right: 1px solid #8080803b;
}

.btn-upload-photo {
  font-size: 1rem !important;
  border-radius: 20px !important;
  padding: 10px 20px !important;
}

.update-perfil-form form .form-group.field-actualizarperfil-ubicacion,
.form-group.field-actualizarperfil-apellidos,
.form-group.field-actualizarperfil-nombre {
  text-align: left !important;
}

.container.container-update-perfil .usuario-form form {
  max-width: 500px !important;
  margin: 0 auto !important;
}

.data-detail {
  background-color: var(--blue);
  color: var(--white);
}

.position-absolute {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.position-absolute i {
  font-size: 1.2rem;
  color: var(--white);
}

#w4-success-0,
#w4-success-message,
#w5-success-0 {
  position: absolute;
  z-index: 3;
}

/* ESTILOS COMENTARIOS BLOG DETALLE */

.list-comment strong {
  font-size: 1.1em;
}

.list-comment .text-muted {
  font-size: 0.9em;
}

.list-comment a.text-muted {
  font-size: 0.9em;
  text-decoration: none;
}

.list-comment a.text-muted:hover {
  text-decoration: underline;
}

.container-comment {
  padding: 20px;
}

.name-comment {
  color: var(--blueDark);
  font-weight: 900;
}

.comment-user {
  color: var(--gray);
}
.img-perfil-blog {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}

.list-comment {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.list-comment:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.title-view-blog {
  color: var(--blueDark);
}

h6.title-comment-form {
  font-size: 3rem !important;
}

.btn-enviar-view-blog {
  height: 43px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* VIEW EVENTOS */
.img-update-event {
  width: 200px;
  border-radius: none;
  padding: 2px;
  object-fit: cover;
}

/* INDEX EVENTOS */
.eventos-index.container {
  max-width: 1250px !important;
  padding: 2rem 0;
}

.eventos-index.container .card {
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
}
.eventos-index.container .card-title {
  font-size: 2.4rem !important;
  margin-bottom: 0.5rem;
}
.eventos-index.container .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 4.5em;
}

.eventos-index.container .card-subtitle {
  font-size: 1.4rem !important;
}

.eventos-index.container .card-text {
  color: var(--black);
}

.eventos-index.container .card-text {
}

.eventos-index.container .card-c img {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.img-evento-card {
  position: relative;
  width: 100%;
  height: 225px;
}

.img-evento-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-evento-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.estado-evento {
  background-color: var(--blue);
  border-radius: var(--border-radius);
  color: var(--white) !important;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
}

.card-c {
  transition: transform 0.3s ease; /* Duración y efecto de la animación */
}

.card-c:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.btn-view-card .btn-view {
  border-radius: var(--border-radius) !important;
}

.eventos-index.container .update-delete {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.8rem;
}

/* VIEW EVENTOS */
.evento-reciente .img-evento {
  width: 90px;
  height: 90px;
  min-width: 90px;
  min-height: 90px;
}

.event-picture-container {
  text-align: center;
}

.event-picture {
  position: relative;
  display: inline-block;
}

.event-picture img {
  border-radius: 50%;
  border: 2px solid #007bff;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.upload-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.upload-button label {
  margin: 0;
  color: white;
}

.upload-button i {
  font-size: 20px;
}

.eventos-form.container {
  width: 1250px;
}

.form-group.field-actualizarperfil-nombre,
.form-group.field-actualizarperfil-apellidos,
.form-group.field-actualizarperfil-ubicacion {
  position: relative;
}

/* RECURSOS EDUCATIVOS */

.recursos-educativos-index .card-title {
  font-size: 2.2rem !important;
}

.form-group.field-search-input.has-error {
  position: relative;
}

.form-group.field-search-input.has-error .help-block {
  display: none;
}

.recursos-educativos-index {
  max-width: 1250px !important;
}

.recursos-educativos-index .card-body {
  background-color: var(--bg-color);
  height: 18rem;
  position: relative;
  transition: transform 0.3s ease;
}

.card-body:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.c-button-r-e {
  position: absolute;
  bottom: 1rem;
}

.title-recursos {
  max-width: 1250px;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  right: 0;
  left: 0;
  margin: 0 auto;
  color: var(--white);
  z-index: 2;
}

.row-banner .title {
  max-width: 1250px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: var(--white);
  padding-left: 15px;
  padding-right: 15px;
}

#search-input {
  height: 48px;
  min-width: 300px;
}

#no-results {
  margin-left: 15px;
  margin-right: 15px;
}

/* PAGINATION */
.pagination {
  gap: 0.4rem;
}

.pagination-wrapper {
  padding-right: 15px;
  padding-left: 15px;
}

.buttons-footer-recursos {
  position: absolute;
  bottom: 0;
  padding: 0.8rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  left: 0;
  right: 0;
  padding: 1rem;
}

.row-form-component {
  justify-content: center;
  max-width: 1000px;
}

.form-group.field-descripcion-textarea,
.form-group.field-titulo-input {
  position: relative;
}

.form-group.field-descripcion-textarea .help-block,
.form-group.field-titulo-input .help-block {
  position: initial;
}

.recursos-educativos-update .alert-success {
  display: none;
}

.form-group.field-descripcion {
  position: relative;
}
